@import "/src/assets/sass/media";

.body--dark {
  .header-style {
    background-color: $secondary;
    padding: 12px 3rem;

    .header-title--dark-mode-parent {
      .header-title {
        color: $primary;
        background-color: $secondary;
      }

      .dark-mode-button{
        color: $primary !important;
      }
    }
  }
}

.body--light {
  .header-style {
    background-color: $primary;
    padding: 12px 3rem;

    .header-title--dark-mode-parent {
      .header-title {
        color: $secondary;
      }

      .dark-mode-button{
        color: $text !important;
      }
    }
  }
}

/* responsive Main Layout */

@include breakpoint(xsmall) {
  .header-style {
    padding: 12px 0 !important;
  }
}

@media (max-width: 365px) {
  .header-style {
    .header-title--dark-mode-parent {
      flex-direction: column;
      align-items: center;
    }
  }
}
