@import "/src/assets/sass/media";

.body--light {
  #details-page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem 5rem;

    //start up-content-parent
    .up-content-parent {
      display: flex;
      margin-top: 3rem;

      .back-btn-style {
        color: $secondary;
        background-color: $primary;
        box-shadow: 5px 2px 19px 6px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        padding: 0 30px;
      }
    }
    //end up-content-parent

    //start down-content-parent
    .down-content-parent {
      display: flex;
      margin-top: 2rem;

      .country-image-parent {
        display: flex;
        flex: 0.5;
      }

      .country-info-parent {
        display: flex;
        flex-direction: column;
        padding: 0 3rem;

        .country-name-parent {
          display: flex;
          justify-content: flex-start;
        }

        .info-parent {
          display: flex;
          flex: 1;

          .ul-details-parent {
            flex: 1;
            list-style-type: none;
            column-count: 2;

            .each-info {
              display: flex;
              align-items: center;
              font-size: 15px;
              margin: 15px 5px;
              flex-wrap: wrap;
              margin-top: 0;

              .info-value {
                color: $accent;
                margin-left: 5px;
                font-size: 14px;
              }
            }
          }
        }
      }

      .border-countries-parent {
        display: flex;
        flex: 1;

        .title {
          display: flex;
          flex: 0.3;
          align-items: center;
          font-weight: 600;
          margin-right: 10px;
        }

        .btn-group-parent {
          display: flex;
          flex: 0.7;
          align-items: center;
          flex-wrap: wrap;

          .border-country-btn-style {
            box-shadow: 5px 2px 19px 6px rgba(0, 0, 0, 0.07);
            background-color: $primary;
            color: $secondary;
            border-radius: 6px;
            margin: 5px 2px;
            padding: 0 30px;
            cursor: pointer;
          }
        }
      }
    }
    //end down-content-parent
  }
}

.body--dark {
  #details-page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem 5rem;
    background-color: $accent;
    height: 100vh;

    //start up-content-parent
    .up-content-parent {
      display: flex;
      margin-top: 3rem;

      .back-btn-style {
        color: $primary;
        background-color: $secondary;
        box-shadow: 5px 2px 19px 6px rgba(0, 0, 0, 0.07);
        border-radius: 7px;
        padding: 0 30px;
      }
    }
    //end up-content-parent

    //start down-content-parent
    .down-content-parent {
      display: flex;
      margin-top: 2rem;

      .country-image-parent {
        display: flex;
        flex: 0.5;
      }

      .country-info-parent {
        display: flex;
        flex-direction: column;
        padding: 0 3rem;

        .country-name-parent {
          display: flex;
          justify-content: flex-start;
        }

        .info-parent {
          display: flex;
          flex: 1;

          .ul-details-parent {
            flex: 1;
            list-style-type: none;
            column-count: 2;

            .each-info {
              display: flex;
              align-items: center;
              font-size: 15px;
              margin: 15px 5px;
              flex-wrap: wrap;
              margin-top: 0;
              

              .info-value {
                color: $primary;
                margin-left: 5px;
                font-size: 14px;
                background-color: $accent;
              }
            }
          }
        }
      }

      .border-countries-parent {
        display: flex;
        flex: 1;

        .title {
          display: flex;
          flex: 0.3;
          align-items: center;
          font-weight: 600;
          margin-right: 10px;
        }

        .btn-group-parent {
          display: flex;
          flex: 0.7;
          align-items: center;
          flex-wrap: wrap;

          .border-country-btn-style {
            box-shadow: 5px 2px 19px 6px rgba(0, 0, 0, 0.07);
            background-color: $secondary;
            color: $primary;
            border-radius: 6px;
            margin: 5px 2px;
            padding: 0 30px;
            cursor: pointer;
          }
        }
      }
    }
    //end down-content-parent
  }
}

/* responsive details page */

@media (max-width: 1200px) and (min-width: 992px) {
  .country-info-parent {
    .info-parent {
      .ul-details-parent {
        column-count: 1 !important;
      }
    }
  }
}

@include breakpoint(medium) {
  .down-content-parent {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 684px) {
  .country-info-parent {
    .info-parent {
      .ul-details-parent {
        column-count: 1 !important;
        padding-left: 0;
      }
    }

    .border-countries-parent {
      flex-direction: column;
    }
  }
}

@media (max-width: 610px) {
  .country-image-parent {
    .country-image {
      width: 350px !important;
      height: 200px !important;
    }
  }
}

@media (max-width: 434px) {
  #details-page-container {
    padding: 1rem !important;

    .down-content-parent {
      align-items: flex-start !important;

      .country-info-parent {
        padding: 0 !important;

        .country-name-parent {
          .country-name {
            font-size: 1.5rem;
          }
        }

        .info-parent {
          .each-info {
            margin: 15px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .country-image-parent {
    .country-image {
      width: 250px !important;
      height: 150px !important;
    }
  }
}
